.content-inner{
	margin: 0 20px;
}

.language {
    float: right;
    list-style: none outside none;
   top:0;
   right:10px;
   position:absolute;
}

.language li {
    display: inline-block;
    margin-left: 20px;
}

.more{
	font-weight:bold;
	float:right;

	margin-bottom:10px;
	clear:both;
}