.validatorHint {
	position:absolute;
	border:1px solid;
	border-color:#CA9 #854 #854 #CA9;
	background: #ECB;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding: 1px 5px;
	font-size:10px;
}