html, body {
    height:100%;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('/www/fonts/Ubuntu-R.ttf');
}
@font-face {
    font-family: 'Ubuntui';
    src: url('/www/fonts/Ubuntu-RI.ttf');
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    background-image: url(/www/images/bg-fill.jpg);
}
hr {
    border-top:1px solid #a5a5a5;
    border-bottom:1px solid #c4c4c4;
    border-left:none;
    border-right:none;
}
table thead{font-weight: bold;}
table td{text-align: center;}
a {
    color:#000;
    text-decoration: none;
}
.clear{clear: both;}

#logon-form{
    position: fixed; 
    display: none;
    left: 0;
    top: 0;
    background: #000;
    color: #fff;
    padding: 10px;
    box-shadow: 0 0 20px #333;
    z-index: 12;
}
.waypoints{
    position: absolute;
    width: 150px;
    height: 200px;
}
#header_logon{
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    height: 15px;
    width: 15px;
    opacity: 0;
    z-index: 20;
}
#map-block{
    width: 999px;
    height: 485px;
}
.form-list{
    list-style: none outside none;
}
.form-list li {
display: block;
margin: 0;
padding: 6px 0 10px;
}
.form-list li input[type=password], .form-list li input[type=text]{
    width: auto;
    height: auto;
}
.form-list .submit {
background: url("../img/images/submit-bg.png") repeat-x scroll 0 0 #EF7E06;
border: 1px solid #D56D00;
color: #FFFFFF;
cursor: pointer;
margin: 2px 0;
padding: 4px 8px;
text-align: center;
vertical-align: middle;
width: auto;
}
#user-panel {
    position:absolute;
    z-index:5;
    top:0;
    left:0;
}

.header{
    width: 100%;
    height: 100px;
    background-image: url(/images/header.png);
    background: #ff771d; /* Old browsers */
    background: -moz-linear-gradient(top,  #ff771d 0%, #ff6600 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff771d), color-stop(100%,#ff6600)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff771d 0%,#ff6600 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff771d 0%,#ff6600 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff771d 0%,#ff6600 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff771d 0%,#ff6600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#ff6600',GradientType=0 ); /* IE6-9 */

    background-repeat: no-repeat;
    background-position: center 0;
}
.inner-header{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.left{
    float: left;
}
.logo{
    width: 183px;
    margin-top: 26px;
    height: 130px;
}
.logo-holder{
    float: left;
}
.logo-holder img{
    margin-top: 20px;
}
.info-holder{
    float: right;
    width: 700px;
}
.lang-holder{
    float: left;
    margin-top: 1px;
    margin-right: 10px;
}
.lang{
    float: left;
    padding: 3px;
    margin-right: 5px;
    padding-top: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 2px;
    font-size: 14px;
}
.lang a{
    color: white;
    text-decoration: none;
}

.lang-holder .active a{
    color: #ff771d;
}
.lang-holder .active{
    color: #ff771d;
    background-color: white;
    border-radius: 9px;
}
#login, #register {
    display: inline-block;
    position: relative;
}
#login.active > span, #register.active > span {
    border-bottom: 6px solid white;
    margin-bottom: -6px;
}
.login{
    border: 0;
    display:inline-block;
    border-radius: 1px;
    background-color: white;
    color: #ff771d;
    padding-top: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 2px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: bold;
    cursor:pointer;
}
.login img{margin-right: 7px;}

.info-top-holder{
    display: inline-block;
    float:right;
}
.info-top{
    float: right;
    padding-top: 5px;
}
.info-bottom{
/*    display: inline-block;*/
    width: 100%;
    text-align: right;
    color: white;
    font-size: 50px;
    float: right;
}
.container{
    
}
.content:after {
    display:block;
    content:"";
    clear: both;
}
.content{
    width: 1000px;
    margin: 10px auto;
}
.content-bg{
    background-color:rgba(255,255,255,0.5);
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    padding:7px;
}
#modal .content-bg{
    width:95% !important;
}
.menu-button{
    float: left;
    width: 258px;
    margin-right: 20px;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    color: #ff6600;
    font-size: 22px;
    font-family: 'Ubuntui';
    /*font-style: italic;*/
    text-align: center;
    cursor: pointer;
}
.menu-button:hover{background-color: rgba(255, 255, 255, 1); color: #000000; transition: 1s;}
.active-menu-button{background-color: rgba(255, 255, 255, 1);}


.no-marg{margin:0 !important;}
.no-pad{padding:0 !important;}

.main-menu{width: 1014px;}
.main-content{
    display: inline-block;
    clear: both;
    width: 979px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    color: #ff6600;
}
.main-content-order{
    display: inline-block;
    clear: both;
    width: 999px;
    margin-top: 10px;
    padding: 10px;
    color: #ff6600;
}
.relative{position: relative;}

.form-distance{
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 52px 23px 15px;
    border: 1px solid #C4C4C4;
    border-radius: 4px 0 4px 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
span.small {
    color: rgba(111, 111, 111, 1);
    font-size:12px;
    display:inline-block;
    margin: 0 28px 15px 44px;
}
#defined-places, select.input {
    width:231px;
    border: 1px solid silver;
    padding: 4px;
}
.defined-places-holder {
    margin-top:-28px !important;
}

input[type=text],input[type=password]{
    height: 30px;
    width: 226px;
    border:1px solid #c2c2c2;
}
/*select{
    width: 227px;
    height: 34px;
}*/
input:focus, input:active{
    border-color: #ff771d;
}

.login-pick{
    margin-top: -2px;
    vertical-align: middle;
}
.form-text{
    float: left;
    width: 32px;
    height: 25px;
    margin-right: 10px;
    color: black;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}
.form-down-text{
    float: left;
    /*width: 217px;*/
    color: #909090;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    
}
.form-input{
    float: left;
}
.form-row{
    display: table;
    margin-top: 10px;
}
.orange-button{
    width: 228px;
    border-radius: 4px;
    border: 0 none;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    height: 76px;
    display: table-cell;
    vertical-align: middle;
    cursor:pointer;
}

.content-left-pic{
    float: left;
    margin-right: 36px;
}
.content-left-pic img {
    width: 310px;
}
.content-slider{
    float: left;
    width: 630px;
    height: 247px;
}
.content-slider img {
    height:237px;
    width:594px;
}

.form-order-top{
    display: inline-block;
    width: 1003px;
}

.form-distance-order{
    float: left;
    width:330px;
}
.form-field-holder {
    border-right:1px solid #c4c4c4;
    margin: -30px 0 15px 10px;
    padding: 40px 0 0 3px;
}
.form-field-holder-2 {
    margin: 10px 0;
    padding: 10px 0 10px 49px;
    width:240px;
    min-height: 100%;
}
.form-field-holder-2.bordered {
    border-right:1px solid #c4c4c4;
    padding-right: 49px;
}
.form-company-fields {
    margin: 10px 0 0 -5px;
}
.form-distance-order-places:after {
    position: absolute;
    content: "";
    display: block;
    width:1px;
    height:100%;
    background-color: rgba(245, 245, 245, 1);
    right:-1px;
    top:0;
}
.form-distance-order-places {
    padding: 42px 0 0 10px;
    border: 1px solid #c4c4c4;
    border-right:none;
    border-radius: 4px 0 0 4px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.form-distance-order-fields {
    border: 1px solid #c4c4c4;
    border-radius: 0 4px 4px 4px;
    background-color: rgba(255, 255, 255, 0.5);
    float:left;
    width: 668px;
    margin-right: -3px;
}
.form-distance-order-sutitajs{
    /*padding: 15px 20px 20px 30px;*/
    float:left;
}
.form-distance-order-sanemejs{
    /*padding: 15px 20px 20px 45px;*/
    float:left;
}
.form-border{
    border-bottom: 1px solid #c4c4c4;
    border-bottom-left-radius: 4px;
}
.form-order-bottom{
    display: inline-block;
    width: 669px;
    padding-bottom: 15px;
    margin-top: -4px;
    border-left: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
}
.form-order-bottom .form-distance-order{
    padding-top: 0;
}
.form-order-bottom .form-distance-order > .form-row{
    margin-top: 0;
}
.form-order-left{
    float: left;
    width: 321px;
    padding: 9px 9px 0px 0px;
}
.info-tooltip{
    padding-top: 38px;
    padding-left: 20px;
    padding-right: 38px;
    padding-bottom: 48px;
    border-radius: 4px;
    border: 0;
    color: white;
    font-size: 12px;

}
.info-tooltip-header{
    margin-bottom: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}
.info-tooltip-header img{ float: left;}
.info-tooltip-header-text{
    display: inline-block;
    margin-top: -5px;
    margin-left: 5px;
    color: white;
    font-weight: bold;
}
.info-tooltip-header-text a{
    color: white;
    text-decoration: none;
}
.form-heading{
    margin-bottom: 10px;
    margin-top: 5px;
    color: black;
    font-family: 'Ubuntui';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.input-heading{
    clear: both;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #909090;
    font-size: 14px;
}
#login-user .button-holder a.input-heading {
    color: #909090;
    text-decoration: none;
}
#login-user .submit-button {
    border-radius:0;
}
#login-user .button-holder > span {
    float:right;
}
#login-user .button-holder {
    width:100%;
}
.road-holder{
    /*margin-top: 152px;*/
    width: 100%;
    height: 176px;
    background: url(/www/images/poloska.png) repeat-x  10px 50% rgba(0, 0, 0, 0.1);
}
.snail-holder{
    position: relative;
    float: left;
    width: 250px;
    height: 160px;
    margin-left: 60px;
}
.snail-pic{
    position: absolute;
    top: 15px;
}
.snail-info{
    position: absolute;
    top: 38px;
}
#snail-1-info{}
#snail-2-info{left:50px;}
#snail-3-info{left: 45px;}
#snail-1-info, #snail-2-info, #snail-3-info{opacity: 1;}
#snail-1:hover #snail-1-info, #snail-2:hover #snail-2-info, #snail-3:hover #snail-3-info{opacity: 1; transition: 1s;}


#screen{
    background:rgba(0, 0, 0, 0.7);
    height:100%;
    left:0;
    top:0;
    width:100%;
    position: absolute;
    z-index:1000;
    overflow-y: auto;
}
#screen #modal {
    position: relative;
    width:600px;
    top: 50%;
    padding:0;
    margin:-100px auto 0;
    border-radius:3px;
    background-color:#ffffff;
    text-align: center;
}
#screen #modal .closeModal {
    height:24px;
    width:30px;
    top:0;
    right:10px;
    position: absolute;
    cursor:pointer;
    background: none no-repeat 0 0 #ff771d;
    font-size:24px;
    color:#ffffff;
    line-height: 22px;
    text-align: center;
    z-index:5;
}
#screen #modal .body {
    padding:15px 5px;
}
#screen #modal .body .padded {
    padding:15px 5px;
}



.delivery-info-holder{
    clear: both;
    width: 100%;
    height: 98px;
    border-top: 5px solid #373737;
    
    background: #1d1d1d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkMWQxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #1d1d1d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d1d1d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #1d1d1d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #1d1d1d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #1d1d1d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #1d1d1d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1d1d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */
}
.delivery-content{
    width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px auto;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.delivery-info, .delivery-info-pic, .delivery-info-text{float: left;}
.delivery-info{margin-left: 5px;}
.delivery-info-text{width: 177px;margin-left: 10px;margin-top: 5px;}
.delivery-info:first-of-type .delivery-info-text{margin-left: 0;}

.footer-holder{
    /*position: fixed;*/
    width: 100%;
    height: 60px;
    background: #ff771d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNzcxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY5MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ff771d 0%, #ff6906 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff771d), color-stop(100%,#ff6906)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff771d 0%,#ff6906 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#ff6906',GradientType=0 ); /* IE6-8 */
}
.orange-grad{
    border: 1px solid transparent;
    background: #ff771d; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNzcxZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY5MDYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ff771d 0%, #ff6906 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff771d), color-stop(100%,#ff6906)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ff771d 0%,#ff6906 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ff771d 0%,#ff6906 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff771d', endColorstr='#ff6906',GradientType=0 ); /* IE6-8 */

}
.wrapper {
    min-height:100%;
    margin-bottom:-163px;
    min-width:1000px;
}
.wrapper .footer-push {
    height:163px;
}
.footer-wrapper {
    height:163px;
    margin-top:-163px;
    min-width:1000px;
}
.footer{
    width: 1000px;
    margin: 0 auto;
    padding-top: 20px;
}
.footer-link a {
    color: #FFF;
    text-decoration: none;
}
.footer-link, .footer-logo, .footer-social{
    float: left;
    margin-left: 10px;
    color: white;
}
.footer-link{margin-right: 30px;}
.footer-social{margin-left: 100px;}
.footer-social img{margin-right: 10px;}
.footer-logo{float: right;}

.strip-divider{
    float: left;
    width: 1px;
    height: 249px;
    margin-top: 15px;
    background-color: #dddddd;
}
.strip-divider-up{
    float: left;
    width: 1px;
    height: 266px;
    margin-top: 15px;
    background-color: #dddddd;
}
.strip-divider-down{
    float: left;
    width: 1px;
    height: 182px;
    margin-top: 0;
    background-color: #dddddd;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label > span {
    float: left;
    display:inline-block;
    width:16px;
    height:18px;
    margin:-1px 2px 0 0;
    vertical-align:middle;
    background:url(/www/images/unchecked.jpg) no-repeat 0 2px transparent;
    cursor:pointer;
}
input[type="checkbox"]:disabled + label > span {
    opacity: 0.4;
}
input[type="checkbox"]:checked + label > span {
    background:url(/www/images/checked.jpg) no-repeat 0 2px transparent;
}

.submit-button{
    display: inline-block;
    width: 230px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    border: 0 none;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.submit-button-login{
    width: auto;
    padding-top: 0;
    padding-bottom: 2px;
    font-size: 13px;
}
.button-holder{
    display: inline-block;
    margin-top: 10px;
}
#register.active .form-order-register,
#login.active .form-order-login {
    display:block;
}
#register .form-order-register {
    display:none;
    position: absolute;
    top: 30px;
    right: -1px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: -4px;
    border-left: 1px solid #ff771d;
    border-bottom: 1px solid #ff771d;
    border-right: 1px solid #ff771d;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 11;
}
#login .form-order-login{
    display:none;
    position: absolute;
    top: 30px;
    right: -1px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 20px;
    margin-top: -4px;
    border-left: 1px solid #ff771d;
    border-bottom: 1px solid #ff771d;
    border-right: 1px solid #ff771d;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 11;

}
.social_login {

}
.social_login > span {
    color: #b3b3b3;
    display: block;
    margin-bottom: 7px;
    font-size: 12px;
}
.social_login > div {
    text-align: center;
}
.social_login > div img {
    height:30px;
    width:auto;
}
.flex-control-nav, .flex-control-paging{
    position: absolute;
}
#menu-how-block{display: inline-block;}
#menu-cost-block{display: none;}
#menu-order-block{display: none;}

.menu-active{display: inline-block;}

.table-left-holder{
    width: 405px;
    float: left;
}
.table-right-holder{
    float: left;
}
.edit-field{
    width: 230px;
    margin: 0 auto;
}

#company-req {
    margin: 6px 3px 0 -6px;
    padding: 5px;
    border:1px solid #bababa;
    background-color: rgba(128,128,128,0.1);
}
.user-search{
    width: 710px !important;
}
.news{
    padding: 10px;
    border-radius: 4px;
    background-color: white;
}
table.orders-table {
    width:555px;
    border-collapse: collapse;
    margin: 0 0 15px 24px;
}
table.orders-table th {
    height: 30px;
    color: #FFF;
    background-color: #F60;
    border:1px solid #F60;
    font-size: 22px;
    text-align: left;
    padding: 5px;
}
table.orders-table tr.small-head th {
    height: 30px;
    color: #FFF;
    background-color: #ff7900;
    border:1px solid #F60;
    font-size: 14px;
    text-align: left;
    padding: 2px 6px;
}
table.orders-table th a {
    float:right;
    font-size:14px;
    text-decoration: none;
    color:white;
    display:inline-block;
    margin:5px 5px 0 0;
}
table.orders-table td {
    background-color: white;
    padding:3px;
}
table.orders-table tr:last-of-type td {
    border-bottom:1px solid silver;
}
table.orders-table td:first-of-type {
    border-left:1px solid silver;
}
table.orders-table td:last-of-type {
    border-right:1px solid silver;
}
table.orders-table tr:not(:last-of-type) td {
    border-bottom: 1px dotted silver;
}
table.orders-table tr.routes td {
    padding: 5px;
}
table.orders-table tr.routes td:first-of-type {
    border-right:1px solid #c0c0c0;
}
table.orders-table tr.routes td:last-of-type {
    border-left:1px solid #c0c0c0;
}

span.pdf_icon {
    background: url(../images/icon-pdf.png) no-repeat 0 0 transparent;
    width:24px;
    height:24px;
    display:inline-block;
}

.payment_button {
    padding:5px;
    border:1px solid #f60;
    background-color: rgba(255, 140, 43, 1);
    border-radius:3px;
    color:#000;
    font-weight: bold;
    text-decoration:none;
    display:inline-block;
}

#insurance-info {
    width: 227px;
    height: 70px;
    border: 1px solid silver;
    resize: none;
    display: none;
    margin: 3px 0 0;
}
.pagination-news{
    text-align: center;
}

.order-textarea {
    width: 227px;
    height: 70px;
    border: 1px solid #C0C0C0;
    resize: none;
    margin: 3px 0 0;
}

#street_nr_error .msg {
    color: #000;
    font-size: 14px;
    margin-bottom: 5px;
}
